<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxj.mapper.DepartmentMapper">

    <resultMap id="departmentMap" type="department">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <association property="employee"  column="leaderid" select="getEmployee">
        </association>
    </resultMap>

    <!--public List<Department> findList();-->
    <select id="findList" resultMap="departmentMap">
        select * from department
    </select>
    
    <select id="getEmployee" resultType="employee">
        select * from employee where id=#{leaderid}
    </select>


    <!--public Integer count();-->
    <select id="count" resultType="int">
        select count(1) from department
        <where>
            <if test="queryString!=null and queryString!=''">
                name like concat("%",#{queryString},"%")
            </if>
        </where>
    </select>


    <!--public List<Department> findListLimit(@Param("startIndex") Integer startIndex,@Param("pageSize") Integer pageSize);-->
    <select id="findListLimit" resultMap="departmentMap">
        select * from department
        <where>
            <if test="queryString!=null and queryString!=''">
                name like concat("%",#{queryString},"%")
            </if>
        </where>
        limit #{startIndex} , #{pageSize}
    </select>


    <insert id="insert" >
        insert into department  values (null,#{name},#{employee.id})
    </insert>


    <!--public Department findOne(Integer id);-->
    <select id="findOne" resultMap="departmentMap">
        select * from department where id=#{id}
    </select>

    <!--public void update(Department department);-->
    <update id="update">
        update department set name=#{name},leaderid=#{employee.id} where id=#{id}
    </update>


    <delete id="delete">
        delete from department where id=#{id}
    </delete>

</mapper>