<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxj.mapper.UserMapper">

    <!-- public User login(String username);-->
    <select id="login" resultType="user">
        select * from user where username=#{username}
    </select>

    <!-- public void update(User user);-->
    <update id="update">
        update user set username=#{username},password=#{password},nickname=#{nickname},phone=#{phone},remark=#{remark}
        where id=#{id}
    </update>

</mapper>